---

---

<div class="min-h-sm bg-stone-100 py-6 text-zinc-200 grid place-items-center" id="contact_us">

  <div class="w-full text-center mb-12">
    <h1 class="text-2xl md:text-5xl font-bold text-gray-800">Contact Us</h1>
  </div>

    <br/>

    <main class="flex justify-around py-3 w-full max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
  
        <div class="relative overflow-hidden rounded-lg shadow-lg shadow-zinc-700/50 group">
            <a href="mailto:adrian.b@thepolysight.com?subject=The%20Polysight%20contact&body=Hi..." class="relative z-10 flex flex-col items-center justify-center transition-transform duration-300 group-hover:scale-105" onclick="this.blur()">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-40 h-40 text-gray-800 group-hover:text-gray-500 transition-colors" viewBox="0 0 24 24"><path fill="currentColor" d="M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.587 1.413T20 20zm8-7L4 8v10h16V8zm0-2l8-5H4zM4 8V6v12z"/></svg>
            </a>
          
            <pixel-canvas class="absolute inset-0" data-gap="3" data-speed="20" data-colors="#000000,#222222,#D4C9BE" />
        </div>

    </main>
</div>
  
<script type="module" src="/js/PixelCanvas.js">
  
</script>
  