<div class="relative w-full min-h-screen flex items-center justify-center overflow-hidden">
      
    <video
      autoplay
      muted
      loop
      class="absolute inset-0 w-full h-full object-cover opacity-40"
    >
      <source src="Hero.mp4" type="video/mp4" />
      Your web browser does not tolerate videos
    </video>

    <div class="absolute inset-0"></div>

    <div class="relative z-10 flex flex-col items-center justify-center text-center px-4">
      <h1 class="text-7xl font-bold text-black mb-2">
        Navigate Tomorrow, Today.
      </h1>
      <h2 class="text-5xl font-semibold text-gray-600">
        Geopolitical Insight, Strategic Advantage.
      </h2>
      <p class="max-w-xl mt-4 text-gray-500 text-lg">
        The PolySight turns geopolitical complexity into decisive clarity, helping you foresee risks, spot opportunities, and lead confidently through uncertainty.
      </p>
    </div>
  </div>