---
const cards= [
  {
    "title": "Automated Cloud-Based Data Collection for Global Media Analysis",
    "description": "We built an automated system that collects thousands of news articles daily, turning raw media data into insights on global narratives, sentiment, and regional trends.",
    "icon": "/icons/Internet.svg"
  },
  {
    "title": "Custom-Built Summaries",
    "description": "Thousands of global news articles are processed daily through AI-enhanced pipelines to create Enhanced Intelligence (EI) summaries. These are structured, tagged, and made analyzable.",
    "icon": "/icons/Summary.svg"
  },
  {
    "title": "Modular Algorithms",
    "description": "For each conflict or case, we deploy conflict-specific algorithms. No generic model, no universal formula. Our tools evolve with the scenario.",
    "icon": "/icons/Algorithm.svg"
  },
  {
    "title": "Dynamic Modeling",
    "description": "From escalation forecasts to strategic degradation scores, our models adapt to regional sensitivities and event-specific indicators.",
    "icon": "/icons/Model.svg"
  },
  {
    "title": "Structured Decision Logic",
    "description": "Our frameworks include tailored logic blocks that guide AI evaluation based on context, risk profiles, actor behavior, and long-term scenarios.",
    "icon": "/icons/Decision logic.svg"
  }
]
---

<section class="w-full flex justify-center" id="approach">
  <div class="w-full flex flex-col gap-8 px-8 py-15 bg-neutral-600">
    <h1 class="text-center max-w-2xl mx-auto bg-stone-50 px-6 py-4 rounded-lg shadow-md text-zinc-900 text-2xl md:text-4xl font-bold opacity-70">
      Our Approach
    </h1>

    <div class="max-w-4xl md:max-w-3xl mx-auto transition-transform duration-400 hover:scale-105">
      <img src="/image/Model.png" alt="">
    </div>

    <div class="w-full flex flex-wrap justify-center gap-8 px-8 py-12">
      {cards.map((card, index) => (
        <div class="bg-white rounded-2xl shadow-lg overflow-hidden flex flex-col flex-grow basis-[280px] max-w-sm transition-transform duration-300 hover:scale-105">
          <div class="bg-gray-600 p-8 flex items-center justify-center">
            <img src={card.icon} alt={card.title} class="h-20 w-20 md:h-30 md:w-30" />
          </div>
          <div class="p-6 flex flex-col">
            <h3 class="text-md md:text-xl font-semibold text-gray-900 mb-2">{card.title}</h3>
            <p class="text-sm md:text-md text-gray-700">{card.description}</p>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>
