---
const date = new Date()
const year = date.getUTCFullYear()
---

<div class="flex justify-center py-2">
    <div class="relative w-[85%] max-w-8xl h-[3px] overflow-hidden shadow-lg bg-black">
        
        
    </div>
</div>
<div class="flex justify-around font-semibold py-4">
    <p>
        © {year} The Polysight all right reserved
    </p>
    <p>
        Terms and Policies
    </p>
</div>